@tailwind base;
@tailwind components;
@tailwind utilities;


:root{ --color: "rgb(242 201 110)"}
body { overflow-x: hidden; scroll-behavior: smooth; background-color: #fff;}
*{ box-sizing: border-box; margin: 0; padding: 0; }
.h-screen{ height: 100svh !important; }
button, img, .button, .img{ user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.flex-default { @apply flex justify-center items-center}
:root { scrollbar-color: #E41C40 #000; scrollbar-width: thin; }
body::-webkit-scrollbar { width: 0.5em; background-color: #000; border-radius: 20px; }
body::-webkit-scrollbar-thumb { background-color: #E41C40; border-radius: 20px; }


img{
    max-width: auto;
    max-height: auto;
}


@keyframes slide-in {
    from {
      height: 0;
    }
    to {
      height: 100%;
    }
  }
  
  .animate-slide-in {
    animation: slide-in 0.6s ease;
  }
  

  .circle-with-border {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* background-color: #3498db;  */
    position: absolute;
  }
  
  /* Dynamic border length */
  .circle-with-border::before {
    content: '';
    display: block;
    position: absolute;
    top: 0%; /* Adjust the percentage to control the border roundness */
    left: 0%;
    right: 0%;
    bottom: 0%;
    border: 4px solid #af253c; /* Set your desired color for the border */
    border-radius: 50%;
  }